$font: 'proxima-nova', sans-serif
$font-size: 16px
$line-height: 1.5em
$letter-spacing: 1px

// Headings
$headig-font: $font
$heading-font-weight: 700
$heading-text-transform: uppercase
$heading-line-height: 1.3em
$heading-letter-spacing: 4px

//Sub headings
$sub-heading-font: $font
$sub-heading-font-weight: 600
$sub-heading-text-transform: uppercase
$sub-heading-line-height: 1em
$sub-heading-letter-spacing: 2px

//Pargraph
$paragraph-font: $font
$paragraph-font-weight: 500
$paragraph-line-height: 1.3em
$paragraph-letter-spacing: 1px

//Anchor Tag
$anchor-font: $font
$anchor-font-weight: 500
$anchor-line-height: 1.3em