.btn
  @include theme($content-fg, rgba($neutral-dark, 0.1))
  font-weight: bold
  text-decoration: none
  padding: $space*0.99 $space*2
  text-transform: uppercase
  font-size: 1rem
  cursor: pointer
  line-height: 1rem
  &.btn-primary
    @include theme($primary-action-fg, $primary-action-bg)
  > *
    color: inherit !important
  > *
    color: inherit !important
